* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: #5f5f5f;
  padding: 1.2rem;
}

html {
  font-size: 65.2%;
}

.container {
  max-width: 40rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.379);
  margin: 9rem auto;
  background-color: #f0f0f0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 2px;
}

.icon {
  font-size: 2.4rem;
  color: #7d7d7d;
  cursor: pointer;
}

.icon--small {
  font-size: 1.2rem;
}

.input-box {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 2px;
}

.addInput {
  border: none;
  outline: none;
  width: 100%;
  padding: 1.2rem 0;
}

.list-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 1.2rem;
  margin: 2px;
  border-bottom: 1px solid #ddd;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding: 1.2rem 7px;
  border: none;
  outline: none;
  width: 100%;
  cursor: default;
}

.move-icon-box {
  flex-shrink: 0;
}

.move-icon {
  cursor: move;
}

.removeBtnContainer {
  padding: 1.2rem;
}

.removeBtn {
  color: #5f5f5f;
  text-decoration: underline;
  font-weight: 500;
  display: block;
  text-align: center;
}

.transform-input {
  transform: scale(1.02);
}
